{% extends "layout.html" %}
{% block content %}

<title>Home</title>
<div class="container">
<h1>Tervetuloa</h1>
    {% if session.user_id %}
        <b>Kirjautuneena:</b> <class="text-success"> {{ session.user_name }}
    {% else %}
        Kirjautuneena käyttäjänä voit lisätä lisätä lukuvinnkejä ja tallettaa omat suosikit.
    {% endif %}
<p>

{%if recommendations_list%}

<div class="row">
<div class="col-10">
    <form action="{{url_for('sort_by', sort_option=sort_option)}}"  method="POST"> 
        <input type="radio" name="sort_option" value="1" {%if sort_option=="1"%} checked {%endif%} onchange =this.form.submit() > Eniten tykkäyksiä
        <input type="radio" name="sort_option" value="2" {%if sort_option=="2"%} checked {%endif%} onchange =this.form.submit() > Vähiten tykkäyksiä
        <input type="radio" name="sort_option" value="3" {%if sort_option=="3"%} checked {%endif%} onchange =this.form.submit() > Uusin           
        <input type="radio" name="sort_option" value="4" {%if sort_option=="4"%} checked {%endif%} onchange =this.form.submit() > Vanhin         
    </form>   
</div>

<div class="col-10">
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Otsikko</th>
              <th scope="col">URL</th>
              <th scope="col">Vinkin lisääjä</th>
              <th scope="col">Lisätty</th>
            </tr>
        </thead>
        <tbody>
            {%for recommendation in recommendations_list%}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{recommendation.title}}</td>
                <td><a href="{{recommendation.link}}"> {{recommendation.link}} </a></td>
                <td>Vinkin lisääjä</td>
                <td>{{recommendation.time}} {{recommendation.date}}</td>    
                {% if session.user_id %}
                <td> <form action="/likes" method="post">
                    <input type ="hidden" value={{recommendation.id}} name="recommendation_id">
                    <input type ="hidden" value={{recommendation.like_amount}} name="recommendation_like_amount">
                    <input type ="hidden" value={{session.user_id}} name="user_id">
                    <input type ="submit" value="Tykkää">
                </td>
                </form>
                {% endif %}
                <td>♥ {{recommendation.like_amount}}</td>
                  {% if session.user_id == recommendation.user_id %}
                    <td> <form action="/delete_recommendation" method="post">
                        <input type ="hidden" value={{ recommendation.id }} name="recommendation_id">
                        <input type ="submit" value="Poista">
                    </td>
                    </form>
                {% endif %}
                <td></td>
              </tr>
            {%endfor%}
        </tbody>
    </table>    
</div>

{% else %}
    <div>
        <h3> Kirjasto on vielä tyhjä :(!</h3>
    </div>
{% endif %}
{% endblock %}

